body {
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #eee; */
  background-image: url("../images/SWE_Conference.jpg");
  background-size: cover;
}

.form-searchID {
  max-width: 330px;
  max-height: 270px;
  padding: 30px;
  /* margin: 0 auto; */
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  background-color: rgba(238, 238, 238, 0.7);
  border-radius: 25px;
}
.form-searchID .form-searchID-heading,
.form-searchID .checkbox {
  margin-bottom: 10px;
}
.form-searchID .checkbox {
  font-weight: 400;
}
.form-searchID .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-searchID .form-control:focus {
  z-index: 2;
}
.form-searchID input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #858585; /* rgba(255, 255, 255, .5); */
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #858585; /* rgba(255, 255, 255, .25); */
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000000; /* #fff; */
  border-bottom-color: #000000; /* #fff; */
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
